.popup__text-input {
  width: 358px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10px 0;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 1.2143;
}

.popup__text-input:focus {
  outline-color: rgb(139, 176, 243);
}

@media screen and (max-width: 600px) {
  .popup__text-input {
    width: 85%;
    padding: 5px 3px;
    margin-bottom: 14px;
  }
}